<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<a href="board_insert">글쓰기</a>
	<table border="1">
		<tr>
			<td th:text="${'no'}"></td>			
			<td th:text="${'글제목'}"></td>
			<td th:text="${'작성자'}"></td>
			<td th:text="${'작성일자'}"></td>
			<td th:text="${'조회수'}"></td>
		</tr>		
		<tr th:each="board : ${list}">
			<td th:text="${board.seq}"></td>			
			<td>
				<a th:href="@{/board_detail/{seq}(seq=${board.seq})}"  th:text="${board.title}"></a>
				<!-- <a th:href="@{/board_detail( seq=${board.seq}) }"  th:text="${board.title}"></a> -->
				<!-- <a th:href="@{/board_detail/'${board.seq}'}"  th:text="${board.title}"></a>-->
			</td>
			<td th:text="${board.writer}"></td>
			<!-- <td th:text="${#calendars.format( board.regdate, 'yyyy-MM-dd' )}"></td> -->
			<td th:text="${board.regdate}"></td>
			<td th:text="${board.hitcount}"></td>
		</tr>			
		
	</table>
	
</body>
</html>














